<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/styles/admin-appointment-details.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="content">
    <h1>
      ALL APPOINTMENTS
    </h1>
    
    <table>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>DATE</th>
      <th>TIME</th>
      <th>SERVICES</th>
      <% for (let i = 0; i < appointments.length; i++) { %>
        <tr>
          <td data-cell="name"><%= appointmentCreators[i].firstName + ' ' + appointmentCreators[i].lastName %></td>
          <td data-cell="email"><%= appointmentCreators[i].email %></td>
          <td data-cell="date"><%= appointments[i].appointmentDate %></td>
          <td data-cell="time"><%= appointments[i].appointmentTime %></td>
          <td data-cell="services"><%= appointments[i].services %></td>
        </tr>
      <% } %>
    </table>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
